@use 'partials/variables.scss' as *;
@use 'temporary-scss-doctors.scss' as *;
@use 'messages-scss.scss' as *;
@use 'offers.scss' as *;

@import '~bootstrap/scss/bootstrap';
@import '/node_modules/select2/dist/css/select2.css';


body{
    overflow: hidden;
}

main, .main-wrapper, aside{
    overflow: auto;
    height: 100vh;
}

main{
    background-color: #eff1f7;
}

// header

// .debug{
//     outline: 3px solid lime;
//     background-color: rgba($color: #ff00004d, $alpha: 1);
// }

header{
    // background-color: #1583b4;
    background: rgb(55,130,232);
    background: -moz-linear-gradient(90deg, rgba(55,130,232,1) 60%, rgba(156,225,253,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(55,130,232,1) 60%, rgba(156,225,253,1) 100%);
    background: linear-gradient(90deg, rgba(55,130,232,1) 60%, rgba(156,225,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3782e8",endColorstr="#9ce1fd",GradientType=1);
    height:80px;
    display: flex;
    align-items: center;
    .navbar{
        .logo_doc{
            width: 16vw;
            min-width: 100px;

            img{
                width: 200px;
                max-width: 100%;
                max-height:100%;
                object-fit: contain;
            }
        }

        .header-menu{
            list-style: none;

            li a{
                margin-right: 30px;
                font-weight: bold;

                i{
                    font-size: 1.35rem;
                }
            }
        }

        .nav-link{
            color: white;
            font-weight: 500;
        }

    }
}

// aside

aside{
    // background-color: #1583b4;
    background-color: $medium-blue;
    max-width: 250px;

    ul{
        list-style: none;
        line-height: 3rem;

        li{
            border-bottom: 1px dotted white;

            a{
                text-decoration: none;
                color: white;
                font-weight: 600;
                width: 100%;
                height: 100%;
                display: block;
                padding-left: 2vw;
                padding-top: 10px;
                padding-bottom: 10px;

                &:hover{
                    color: #dd5f24;
                    transition: 0.5s all;
                }

                i{
                    padding-right: 10px;
                }
            }
        }
    }
}

.active{
    background-color: #eff1f7;
    color: $medium-blue;
}

// scrollbar

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #dd5f24;
}
::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 7px;
    background-color: #bdbdbd;
}

// searchbar

.search-form {
    display: flex;
    align-items: center;

    input, .search-btn{
        background-color: #f4f7fc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        font-size: 16px;
        border: none;
    }

    input {
        width: 20vw;
        border-radius: 0px 30px 30px 0px;
        flex: 1;
    }

    .search-btn {
        color: gray;
        border-radius: 30px 0px 0px 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        cursor: pointer;
    }
}

//aside versione mobile

.aside-container {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.aside-container.open {
    transform: translateX(0%);
}

// media query


@media screen and (max-width: 991px) {

   .aside-container {
        width: 450px;
        position: fixed;
        z-index: 2;
        transform: translateX(-100%);
    }


   header .logo_doc{
     display: none;
   }

   header #offcanvas-btn{
    display: block;
   }

   .logo-mobile{
    display: block;
    width: 180px;
    img{
        max-width: 100%;
    }

   }
}

@media screen and (min-width: 991px){
    header #offcanvas-btn{
        display: none;
    }

    .logo-mobile{
        display: none;
    }

}


