@import '~bootstrap/scss/bootstrap';

main, .main-wrapper, aside{
    overflow: auto;
    height: calc(100vh - 70px);
}

.navbar{
    background-color: rgba(17,57,103,255);

    .logo_doc{
        width: 14vw;

        img{
            max-width: 100%;
        }
    }

    .nav-link{
        color: white;

    }
}

aside{
    width: 15vw;
    background-color: rgba(17,57,103,255);
    border-right: 5px solid #f8dbdd;

    ul{
        list-style: none;
        line-height: 3rem;

        li{
            padding-left: 2vw;
            a{
                text-decoration: none;
                color: white;
                font-weight: 600;
            }
        }
    }

}

@media screen and (max-width: 800px) {
    ul li a span{
        display: none;
    }
    ul li a i{
        padding-left: 4vw;
    }
}

