.price-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: #f5f5f6;
    padding: 40px 35px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.price-card:before {
    position: absolute;
    content: "";
    top: 0;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #98ddfc;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}
.price-card:after {
    position: absolute;
    content: "";
    top: 30px;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #46b1e2;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}
.price-card h2 {
    font-size: 26px;
    font-weight: 600;
}



.container.offers{

    .activePromos{
        list-style:circle;
        text-align: left;
        font-weight: 300;
        font-size:15px;

        li{
            color: #8b8e93;
         }

        li::marker{
             color:#061761;
         }

    }


    .section-title {
        position: relative;

        h2 {
            color:#061761;
            position: relative;
            margin: 0;
            font-size: 24px;
        }
    }


    @media (min-width: 768px) {
        .section-title h2 {
            font-size: 28px;
        }
    }
    @media (min-width: 992px) {
        .section-title h2 {
            font-size: 34px;
        }
    }
    .section-title.title-ex1 h2 {
        padding-bottom: 20px;
    }
    @media (min-width: 768px) {
        .section-title.title-ex1 h2 {
            padding-bottom: 30px;
        }
    }
    @media (min-width: 992px) {
        .section-title.title-ex1 h2 {
            padding-bottom: 40px;
        }
    }
    .section-title.title-ex1 h2:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 12px;
        width: 110px;
        height: 1px;
        background-color: #d6dbe2;
    }
    @media (min-width: 768px) {
        .section-title.title-ex1 h2:before {
            bottom: 17px;
        }
    }
    @media (min-width: 992px) {
        .section-title.title-ex1 h2:before {
            bottom: 25px;
        }
    }
    .section-title.title-ex1 h2:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 12px;
        width: 60px;
        height: 1px;
        background-color: #3782e8;
    }
    @media (min-width: 768px) {
        .section-title.title-ex1 h2:after {
            bottom: 17px;
        }
    }
    @media (min-width: 992px) {
        .section-title.title-ex1 h2:after {
            bottom: 25px;
        }
    }
    .section-title.title-ex1 h2:before {
        left: 30%;
        transform: translateX(-50%);
        width: 70%;
    }
    .section-title.title-ex1 h2:after {
        left: 31%;
        transform: translateX(-50%);
    }
    .section-title.title-ex1.text-right h2:before {
        left: auto;
        right: 0;
    }
    .section-title.title-ex1.text-right h2:after {
        left: auto;
        right: 0;
    }
    .section-title.title-ex1 p {
        font-family: "Montserrat", sans-serif;
        color: #8b8e93;
        font-size: 14px;
        font-weight: 300;
    }

    .offerName{
        text-transform: uppercase;
        font-weight: bold;
        color:#061761;
    }


    .price-card {
        background: #f5f5f6;
        padding: 40px 35px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        & .price>span{
            color:#3782e8;
            font-weight:600;
            font-size:24px;
        }
    }
    .price-card:before {
        position: absolute;
        content: "";
        top: 0;
        right: -35px;
        width: 88px;
        height: 88px;
        background: #98ddfc;
        opacity: 0.2;
        border-radius: 8px;
        transform: rotate(45deg);
    }
    .price-card:after {
        position: absolute;
        content: "";
        top: 30px;
        right: -35px;
        width: 88px;
        height: 88px;
        background: #46b1e2;
        opacity: 0.2;
        border-radius: 8px;
        transform: rotate(45deg);
    }
    .price-card h2 {
        font-size: 26px;
        font-weight: 600;
    }
    .price-card .btn {
        font-size: 11px;
        border-radius: 100px;
        padding: 0 25px;
        border: 0;
        color: #fff;
        float: right;
    }
    .price-card .btn.btn-primary {
        border: 0 !important;
    }
    .price-card.featured {
        background: #fff;
        border: 1px solid #ebebeb;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    .price-card:hover .btn {
        background: #0cc652;
        border-color: #0cc652;
    }
    p.price span {
        display: inline-block;
        padding: 45px 15px 50px;
        padding-right: 0;
        font-size: 50px;
        font-weight: 600;
        color: #3782e8;
        position: relative;
    }
    .pricing-offers {
        padding: 0 0 10px;
    }
    .pricing-offers li {
        padding: 0 0 16px;
        line-height: 18px;
    }

    .btn.btn-mid {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
    }
    .my-promos{
        box-shadow: 5px 5px 4px #ddd;
        background-color: white;
        border:1px solid #cfe5ee;
    }

    h1,h2, h3, h4{
        color:#061761;
    }


}

.container.payment{
    .col-md-4.my-3{
        overflow: hidden;
    }
    h2 {
    padding-bottom: 20px;
    }

    h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 1px;
    background-color: #d6dbe2;
    }

    h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 40px;
    height: 1px;
    background-color: #3782e8;
    }

    h2:before {
    left: 50%;
    transform: translateX(-50%);
    }

    h2:after {
    left: 50%;
    transform: translateX(-50%);
    }
    h2:before {
    left: auto;
    right: 0;
    }

    h2:after {
    left: auto;
    right: 0;
    }
    p {
    font-family: "Montserrat", sans-serif;
    color: #8b8e93;
    font-size: 14px;
    font-weight: 300;
    }

    .price-card:before {
    position: absolute;
    content: "";
    top: 0;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #98ddfc;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
    }
    .price-card:after {
        position: absolute;
        content: "";
        top: 30px;
        right: -35px;
        width: 88px;
        height: 88px;
        background: #46b1e2;
        opacity: 0.2;
        border-radius: 8px;
        transform: rotate(45deg);
    }
    .price-card h2 {
        font-size: 26px;
        font-weight: 600;
    }
    p.price span {
    display: inline-block;
    padding: 45px 15px 50px;
    padding-right: 0;
    font-size: 50px;
    font-weight: 600;
    color: #3782e8;
    position: relative;
}


}
