.special-table{
    .limiter{
        width:100%;margin:0 auto
    }

    .container-table100{
        display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
    }

    table{
        border-spacing:1;
        border-collapse:collapse;
        background:#fff;
        border-radius:10px;
        overflow:hidden;
        width:100%;
        margin:0 auto;
        position:relative
    }

    table *{
        position:relative
    }

    table td,table th{
        padding-left:8px;
        padding: 20px;
        overflow-y: auto;
    }

    table thead tr{
        height:80px;
        //  background: rgb(61,136,238);
        //     background: linear-gradient(90deg, rgba(61,136,238,1) 0%, rgba(166,229,255,1) 100%);
        background: rgb(55,130,232);
background: -moz-linear-gradient(90deg, rgba(55,130,232,1) 60%, rgba(156,225,253,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(55,130,232,1) 60%, rgba(156,225,253,1) 100%);
background: linear-gradient(90deg, rgba(55,130,232,1) 60%, rgba(156,225,253,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3782e8",endColorstr="#9ce1fd",GradientType=1);

    }

    table tbody tr{
        height:50px
    }

    table tbody tr:last-child{
        border:0
    }

    table td,table th{
        text-align:left
    }

    table td.l,table th.l{
        text-align:right
    }

    table td.c,table th.c{
        text-align:center
    }

    table td.r,table th.r{
        text-align:center
    }

    td, th {
        vertical-align:top;
        }

    .table100-head th{
        font-size:18px;
        font-weight: bold;
        color:#fff;
        line-height:1.2;
        text-align: start;
    }

    tbody tr{
        font-size:15px;
        color:rgb(71, 71, 71);
        line-height:1.2;
        font-weight:unset
    }

    .column1{
        width:280px;
    }
    .column2{
        width:250px
    }
    .column3{
        width:245px
    }
    .column4{
        width:110px;
        text-align:left
    }
    .column5{
        width:500px;
        text-align:left;
    }
    .column6{
        width:50px;
        text-align:right;
    }


    @media screen and (max-width:992px){
        table{
            display:block
        }

        table>*,table tr,table td,table th{
            display:block
        }

        td, th {
            vertical-align:center;
        }

        table thead{
            display:none
        }

        table tbody tr{
            height:auto;
            padding:37px 0
        }

        table tbody tr td{
            padding-left:40%!important;
            margin-bottom:24px;
        }

        table tbody tr td:last-child{
            margin-bottom:0;
        }

        table tbody tr td:before{
            font-size:14px;
            color:#3d3d3d;
            line-height:1.2;
            font-weight:unset;
            position:absolute;
            width:40%;
            left:30px;
            top:0
        }

        table tbody tr td:nth-child(1):before{
            content:"Dottore"
        }

        table tbody tr td:nth-child(2):before{
            content:"Nome Utente"
        }

        table tbody tr td:nth-child(3):before{
            content:"Oggetto"
        }

        table tbody tr td:nth-child(4):before{
            content:"Email"
        }

        table tbody tr td:nth-child(5):before{
            content:"Messaggio"
        }

        table tbody tr td:nth-child(6):before{
            content:"Azioni"
        }

        .column4,.column5,.column6{
            text-align:left
        }

        .column4,.column5,.column6,.column1,.column2,.column3{
            width:100%
        }

        tbody tr{
            font-size:14px
        }
    }

    @media(max-width:576px){
        .container{
            padding-left:15px;
            padding-right:15px
        }
    }

}
