@use 'partials/variables.scss' as *;

.select2-selection.select2-selection--multiple {
    min-height: 65px;
    display: block;
    border: 1px solid #ced4da;
    color:$medium-blue;
    border:$medium-blue;
   .select2-selection__choice{
       background-color: $medium-blue;
       color:white;
       border-color:white;
       .select2-selection__choice__remove{
        color:white;
        border-color: white;
    }
   }

}


span.title{
    font-size:1.1rem;
}

#profile-img{
    max-height:160px;
    max-width:160px;
    border-radius:50%;
    object-fit: cover;
}

.preview{
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    display:flex;
    align-items: center;
    justify-content:center;

    #document-preview{
        width:200px;
        height:auto;
        object-fit: cover;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;

     }
}

.blue{
    color:$medium-blue;
}
.light-blue{
    color:$light-blue;
}
.grey{
    color: #ced4da;
}
.select2-selection.select2-selection--multiple{
    border:1px solid #ced4da;;;
}

.main-wrapper-doctors.row{
    margin:50px auto;
    background-color: white;
    border-radius:0.375rem;
    width:80%;
    padding:30px;


    .profile-photo{
       height:8rem;
       width:8rem;
       border:1px solid #ced4da;
       border-radius:0.375rem;
       img{
           object-fit:cover;
           height:100%;
           width:100%;
           border-radius:0.375rem;
       }
    }

    .details{
        .badge{
            background-color: $light-blue;
            color:black;
        }
        .profile-section{
            font-size: 80%;
        }
    }
    .bordered-container{
        border:1px solid $light-blue;
        padding:20px 30px;
        border-radius:0.375rem;
        margin-right:1.5rem;

    }
    .doc_reviews{
        text-overflow: ellipsis "[...]";
    }
    .section-blue{
        padding:20px;
        border-radius:0.375rem;
        color:white;
        background: linear-gradient(90deg, rgba(61,136,238,1) 0%, rgba(166,229,255,1) 100%);
        .bg-container{
            background-color: white;
            color:black;
            font-size:70%;;
            border-radius:0.375rem;
            padding:8px 16px;
        }
    }
}

.modal-body.confirm{
    font-size:80%;
}


.doctors-container, .doctors-row{
    padding-bottom:90px;
    margin-bottom:50px;
}

// media-queries

@media screen and (max-width:992px){
    .main-wrapper-doctors.row{
        width:90%;
    }
  }
  @media screen and (max-width:576px){


  }

  @media screen and (min-width:589px){
      h1.blue.text-center{
          display:none;
      }
  }

@media screen and (max-width:588px){
    // da cancellare, mediaquey di Sara
    .col-2.m-0.p-0{
        display:none;
    }

    .main-wrapper-doctors.row{
        .left.row{
            position: relative;
            .col-sm-5.col-12.profile-photo.p-0{
                position:absolute;
                left:calc(50% - 4rem);
            }
            .col-sm-7.details{
                text-align: center;
                display:block;
                width:100%;
                margin-top:5.5rem;
                padding-top:40px;
                border-radius: 0.375rem;
                background: linear-gradient(90deg, rgba(61,136,238,1) 0%, rgba(166,229,255,1) 100%);
                .badge.spec-badge{
                    background-color: $dark-blue;
                    color:white;
                }
                h4.text.blue{
                    color:$dark-blue;
                    font-size:1.8rem;
                }
                h6.profile-section{
                    color:white;
                }

            }
            .col-12.contacts{
                font-size:1.1rem;
                margin-top:1.3rem;
                p{
                    margin-bottom:0.8rem;
                    i{
                        font-size:1.6rem;
                    }
                }



            }
            .col-12.doctor-services{
                padding:0;
                .bordered-container{
                    width:100%;
                    margin:0;
                }
            }

        }
        .right.flex-column{
            .sections-blue{
                padding:0;
                margin-top:1rem;
                .section-blue.ratings-section{
                    a{
                        text-decoration: none;
                        color:white;
                    }
                }
            }
        }
    }
  }
